There are different data types: string, integer, and float. These data types can all be contained in a tuple as follows

In [1]:
# create a tuple
tuple1 = ("disco", 10, 1.2)

In [2]:
print(tuple1)

('disco', 10, 1.2)

In [3]:
type(tuple1)

tuple

### Indexing

In [6]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

print out the type of the tuple you created

In [8]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

we can use the negative indexing to get the last element of the tuple

In [9]:
tuple1[-1]

1.2

In [10]:
tuple1[-2]

10

### concatenating tuples

we can concatenate or combine tuples by using the + sign

In [13]:
# concaternate two tuples
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

### slicing

In [14]:
tuple2[0:3]

('disco', 10, 1.2)

In [15]:
# get the length of the tuple
len(tuple2)

5

### sorting

In [16]:
ratings = (0, 1, 5, 6, 9, 11, 3)

In [17]:
# sort the tuple
ratingsSorted = sorted(ratings)

In [18]:
ratingsSorted

[0, 1, 3, 5, 6, 9, 11]

## nested tuples

In [26]:
# create a nested tuple
nestedT = (1, 2, ("pop", "rock"), (3, 4), ("disco",( 4, 5)))

In [24]:
print(nestedT[0])
print(nestedT[2])
print(nestedT[3])

1
('pop', 'rock')
(3, 4)

In [25]:
# we can use the second index to access other tuples 
nestedT[2][1]

'rock'

In [28]:
# print the second element of the fourth nested tuple
nestedT[4][1][1]

5